#dashboard {
    min-height: 300px;
    border: solid black 2px;
}

.day {
    border: solid black 2px;
}

.favorable {
    background-color: green;
    color: white;

}

.moderate {
    background-color: yellow;
    color: white;

}

.severe {
    background-color: red;
    color: white;
}